<!DOCTYPE html>
<html lang="en">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Referensi</title>
</head>
<body>
    <div class="container register-form">
        <div class="form1">
            <div class="note1">
                <p>REFERENSI</p>
            </div>
            <div class="form-content1">
                <div class="row">
                        <ul>
                            <li>Ilmplementasi K-Nearest Neighbor untuk Mengenali Pola Citra dalam Mendeteksi Penyakit Kulit</li>
                            <li>Implementasi Data Mining Pada Penjualan Produk Elektronik Dengan Algoritma Apriori</li>
                            <li>Perancangan Aplikasi Prediksi Persediaan Pupuk Anorganik Menggunakan Metode Bayes (Studi Kasus : Toko Jeychio Petani)</li>
                            <li>Perancangan Aplikasi Peramalan Persediaan Obat - Obatan menggunakan Metode Least Square Studi Kasus : Apotik 24</li>
                        </ul>
                            <a href="index.html" class="ForgetPwd">Kembali ke Halaman Utama?</a>

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>
</section>