<!DOCTYPE html>
<html lang="en">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Referensi</title>
</head>
<body>
    <section class="newsletter">
        <div class="container">
        <div class="row">
        <div class="col-sm-12">
            <div class="content">
                <h2>HALAMAN REFERENSI</h2>
            </div>
        </div>
        </div>
        </div>
        <ul>
            <li>Ilmplementasi K-Nearest Neighbor untuk Mengenali Pola Citra dalam Mendeteksi Penyakit Kulit</li>
            <li>Implementasi Data Mining Pada Penjualan Produk Elektronik Dengan Algoritma Apriori</li>
            <li>Perancangan Aplikasi Prediksi Persediaan Pupuk Anorganik Menggunakan Metode Bayes (Studi Kasus : Toko Jeychio Petani)</li>
            <li>Perancangan Aplikasi Peramalan Persediaan Obat - Obatan menggunakan Metode Least Square Studi Kasus : Apotik 24</li>
            <!-- Tambahkan lebih banyak sumber sesuai kebutuhan -->
        </ul>
        <a href="/">Kembali ke Halaman Utama</a>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>
</section>